= simple_nested_form_for(@profile) do |f|
  .col-lg-2.hidden-md.hidden-sm.hidden-xs.hidden-print
    .form-actions.affix.actions-container.col-lg-2
      = f.button :submit, "Guardar Perfil", class: 'btn-info'
  .col-lg-10
    = f.error_notification
    .panel.profile-form-container
      .panel-body
        .form-inputs
          = f.hidden_field :user_id, :value => current_user.id
          .col-lg-6
            = f.input :forenames, label: 'Nombres', placeholder: 'Tus nombres...'
          .col-lg-6
            = f.input :surnames, label: 'Apellidos', placeholder: 'Tus apellidos...'
          .col-lg-12
            = f.input :avatar, :as => :nice_image, label: 'Foto'
          .col-lg-12
            = f.input :presentation, as: :wysihtml5, label: 'Presentación'
          .col-lg-6
            = f.input :email, label: 'Correo Electrónico', placeholder: 'tu@dominio.com'
          .col-lg-6
            = f.input :phone_number, label: 'Teléfono', placeholder: 'Nro. de Teléfono'
          .col-lg-3
            = f.association :sex, include_blank: false, label: 'Sexo'
          .col-lg-3
            = f.association :marital_status, include_blank: false, label: 'Estado Civil'
          .col-lg-6
            = f.input :birth_date, as: :string, input_html: { class: 'datepicker' }, label: 'Fecha de Nacimiento', placeholder: 'Fecha de Nacimiento...'
          .col-lg-6
            = f.input :nationality_id, collection: Country.order(:esp_name), value_method: :id, label_method: :esp_title, selected: '169', label: 'Nacionalidad'
          .col-lg-6
            = f.input :wage_aspiration, label: 'Aspiración Salarial', placeholder: 'Salario mensual deseado'
          .col-lg-12
            = f.input :skill_list, input_html: { data:{ role:'tagsinput' }, value: @profile.skill_list.join(",") }, label: 'Habilidades', placeholder: 'Habilidades separadas por coma...'
          .col-lg-12
            = f.input :professional_title, label: 'Título Profesional', placeholder: 'Ejem: "Administrador", "Analista", "Contador"'
          = f.hidden_field :country_id, :value => '169'
          .col-lg-12
            %fieldset
              %legend
                %h2 Ubicación
          .col-lg-4
            = f.association :province, label_method: :title, value_method: :id, include_blank: false, input_html: { id: 'province_select' }, label: 'Provincia'
          .col-lg-4
            = f.input :district_id, label: 'Distrito' do
              = f.grouped_collection_select :district_id, Province.all, :districts, :id, :id, :title, {}, { :class => 'form-control', :id => 'district_select' }
          .col-lg-4
            = f.input :township_id, label: 'Corregimiento' do
              = f.grouped_collection_select :township_id, District.all, :townships, :id, :id, :title, {}, { :class => 'form-control', :id => 'township_select' }
          .col-lg-12
            = f.input :address, label: 'Dirección'
    %br
    %fieldset
      %legend
        %h1 Experiencias Laborales
    = f.link_to_add :experiences, :class => "btn btn-lg btn-info" do
      = fa_icon 'plus', class: "text-success"
      Agregar Experiencia
    %br
    %br
    = f.simple_fields_for :experiences do |exp|
      .panel.profile-form-container
        .panel-body
          .elimina
            = exp.link_to_remove do
              .btn.btn-warning
                Eliminar
          .col-lg-12
            = exp.input :position, label: 'Puesto', placeholder: 'Cargo desempeñado'
          .col-lg-12
            = exp.input :company, label: 'Empresa', placeholder: 'Empleador'
          .col-lg-12
            = exp.association :professional_area, collection: ProfessionalArea.order(:name), include_blank: false, label: 'Area'
          .col-lg-6
            = exp.input :starting_salary, label: "Salario Inicial", placeholder: 'Primer salario mensual devengado'
          .col-lg-6
            = exp.input :final_salary, label: "Salario Final", placeholder: 'Último mensual salario devengado'
          .col-lg-6
            = exp.input :begin_date, as: :string, label: "Fecha de Ingreso", input_html: { class:  "datepicker" }, placeholder: 'Fecha de ingreso al empleo'
          .col-lg-6
            = exp.input :end_date, as: :string, label: 'Fecha de Salida', input_html: { class: "datepicker" }, placeholder: "Fecha de salida del empleo"
          .col-lg-12
            = exp.input :job_description, input_html: { rows: '5' }, label: 'Descripción de Funciones'
    %br
    %fieldset
      %legend
        %h1 Educación
    = f.link_to_add :studies, :class => "btn btn-lg btn-info" do
      = fa_icon 'plus', class: "text-success"
      Agregar Estudio
    %br
    %br
    = f.simple_fields_for :studies do |stu|
      .panel.profile-form-container
        .panel-body
          .elimina
            = stu.link_to_remove do
              .btn.btn-warning
                Eliminar
          .col-lg-12
            = stu.input :institution, label: 'Institución', placeholder: 'Casa de estudios'
          .col-lg-12
            = stu.input :title, label: 'TÍtulo', placeholder: 'Título Obtenido'
          .col-lg-6
            = stu.association :educative_area, collection: EducativeArea.order(:name), id_method: 'id', label_method: 'title', include_blank: false, label: 'Area Professional'
          .col-lg-6
            = stu.association :education_level, include_blank: false, label: 'Nivel Educativo'
          .col-lg-5
            = stu.input :begin_year, collection: 1950..Date.today.year, label: "Año de Ingreso", prompt: 'Seleccionar año de inicio'
          .col-lg-5
            = stu.input :end_year, collection: 1950..Date.today.year + 5, label: "Año de Finalización", prompt: 'Seleccionar año de finalización'
          .col-lg-2
            = stu.input :finished, label_html: { class: 'control-label' }, label: 'Finalizado?'
  .col-md-12.hidden-lg
    .form-actions
      = f.button :submit, "Guardar Perfil", class: 'btn-lg btn-block btn-info'
