
.col-lg-10.center-block
  %h1.text-info.title-shadow Candidatos
  - @profiles.each do |profile|
    .col-sm-3
      = link_to profile do
        .profile-card
          = image_tag profile.avatar.url(:medium), :class => "profile-avatar"
          .profile-card-info
            %p.text-info.profile-card-name
              = profile.forenames.titleize
              %span.text-warning
                = profile.surnames.titleize
            %p.text-muted
              = profile.professional_title.titleize
