%p#notice= notice

%p
  %b Profile:
  = @estudy.profile
%p
  %b Institution:
  = @estudy.institution
%p
  %b Title:
  = @estudy.title
%p
  %b Education level:
  = @estudy.education_level_id
%p
  %b Professional area:
  = @estudy.professional_area_id
%p
  %b Begin year:
  = @estudy.begin_year
%p
  %b End year:
  = @estudy.end_year
%p
  %b Finished:
  = @estudy.finished

= link_to 'Edit', edit_estudy_path(@estudy)
\|
= link_to 'Back', estudies_path
