%p#notice= notice

%p
  %b Position:
  = @vacant.position
%p
  %b Professional area:
  = @vacant.professional_area_id
%p
  %b Country:
  = @vacant.country_id
%p
  %b Province:
  = @vacant.province_id
%p
  %b District:
  = @vacant.district_id
%p
  %b Keywords:
  = @vacant.keywords
%p
  %b Due date:
  = @vacant.due_date
%p
  %b Job type:
  = @vacant.job_type_id
%p
  %b Wage offer:
  = @vacant.wage_offer
%p
  %b Job description:
  = @vacant.job_description
%p
  %b Active:
  = @vacant.active

= link_to 'Edit', edit_vacant_path(@vacant)
\|
= link_to 'Back', vacants_path
