#results
  - @profiles.each do |profile|
    .col-sm-3
      = link_to company_candidate_path(profile.id) do
        .profile-card
          = image_tag profile.avatar.url(:medium), :class => "profile-avatar"
          .profile-card-info
            %p.text-info.profile-card-name
              = profile.forenames.titleize
              %span.text-warning
                = "#{profile.surnames.titleize},"
              = profile.age
            %p.text-muted
              = profile.professional_title? ? profile.professional_title.titleize: 'Desconocido'
