
.col-lg-10.center-block
  %h1.text-warning.title-shadow Candidatos
  %br
  = form_for_filterrific @filterrific do |f|
    .alert.alert-warning.col-lg-12
      .col-lg-12.form-group
        %label.search-label
          Palabras Clave
        = f.text_field :search_query, :class => 'filterrific-periodically-observed form-control', :placeholder => 'Habilidades, títulos profesionales, nombres'
      .collapse#collapseSearch
        .col-lg-4.form-group
          %label.search-label
            Sector
          = f.collection_select :with_professional_area, ProfessionalArea.order(:name), :id, :name, { :include_blank => '- Todos -'}, :class => 'form-control'
        .col-lg-4.form-group
          %label.search-label
            Nivel Educativo
          = f.collection_select :with_education_level, EducationLevel.all, :id, :name, { :include_blank => '- Todos -'}, :class => 'form-control'
        .col-lg-4.form-group
          %label.search-label
            Área Educativa
          = f.collection_select :with_educative_area, EducativeArea.order(:name), :id, :title, { :include_blank => '- Todos -'}, :class => 'form-control'
        .col-lg-3.form-group
          %label.search-label
            Provincia
          = f.collection_select :with_province_id, Province.all, :id, :title, { :include_blank => '- Todas -'}, { :class => 'form-control', :id => 'province-filter'}
        .col-lg-3.form-group
          %label.search-label
            Distrito
          = f.grouped_collection_select :with_district_id, Province.all, :districts, :id, :id, :title, { :include_blank => '- Todos -'}, { :class => 'form-control', :id => 'district-filter'}
      .col-lg-3.form-group
        %br
        %button.btn.btn-block.btn-lg.btn-info{ :type => 'button', 'data-toggle' => 'collapse', 'data-target' => '#collapseSearch', 'aria-expanded' => 'false', 'aria-controls' => 'collapseSearch' }
          = fa_icon 'search'
          Búsqueda Avanzada
      .col-lg-3.form-group
        %br
        = link_to( reset_filterrific_url, ) do
          .btn.btn-info.btn-block.btn-lg
            = fa_icon 'refresh'
            Restablecer Filtros
        = render_filterrific_spinner
  = render( partial: 'company/candidates/list', locals: { profiles: @profiles } )
