.col-lg-4.center-block#register-container
  %fieldset
    %legend
      = fa_icon 'users'
      Registrar tu
      %em Resume
  = simple_form_for @user do |f|
    = f.input :email, label: 'Correo Electrónico', placeholder: 'tu@dominio.com'
    = f.input :password, label: 'Contraseña', placeholder: 'Nueva Contraseña...'
    = f.input :password_confirmation, label: 'Confirmar contraseña', placeholder: 'Repetir nueva contraseña...'
    = f.button :submit, "Registrarse", class: 'btn-primary btn-block'
