%h1 Listing studies

%table
  %thead
    %tr
      %th Profile
      %th Institution
      %th Title
      %th Education level
      %th Professional area
      %th Begin year
      %th End year
      %th Finished
      %th
      %th
      %th

  %tbody
    - @studies.each do |study|
      %tr
        %td= study.profile
        %td= study.institution
        %td= study.title
        %td= study.education_level_id
        %td= study.professional_area_id
        %td= study.begin_year
        %td= study.end_year
        %td= study.finished
        %td= link_to 'Show', study
        %td= link_to 'Edit', edit_study_path(study)
        %td= link_to 'Destroy', study, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Study', new_study_path
