%h1 Listing companies

%table
  %thead
    %tr
      %th Name
      %th Industry
      %th Company type
      %th Extract
      %th Country
      %th Contact name
      %th Phones
      %th Website
      %th Logo
      %th Email
      %th
      %th
      %th

  %tbody
    - @companies.each do |company|
      %tr
        %td= company.name
        %td= company.industry_id
        %td= company.company_type_id
        %td= company.extract
        %td= company.country_id
        %td= company.contact_name
        %td= company.phones
        %td= company.website
        %td= company.logo
        %td= company.email
        %td= link_to 'Show', company
        %td= link_to 'Edit', edit_company_path(company)
        %td= link_to 'Destroy', company, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Company', new_company_path
