!!!
%html
  %head
    %title Resumes
    = stylesheet_link_tag "application", params[:controller], :media => "screen", 'data-turbolinks-track' => true
    = javascript_include_tag "application", params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = custom_bootstrap_flash
    .container
      = yield
